/* LegendaryC10 StyleSheet */
/* NoCopyRight Provided */
/* Version 1.4 */

/* Supported Device */
	html { user-select: none; -webkit-user-select: none; -moz-user-select: none; ms-user-select: none; margin: 12.5px;}
    body { padding: 5px; }

